@font-face {
  font-family: 'iAWriterDuo';
  src: url('./iAWriterDuo/iAWriterDuospace-Regular.woff') format('woff'),
    url('./iAWriterDuo/iAWriterDuospace-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iAWriterDuo';
  src: url('./iAWriterDuo/iAWriterDuospace-Bold.woff') format('woff'),
    url('./iAWriterDuo/iAWriterDuospace-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iAWriterDuo';
  src: url('./iAWriterDuo/iAWriterDuospace-Italic.woff') format('woff'),
    url('./iAWriterDuo/iAWriterDuospace-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
