@font-face {
  font-family: 'iconfont';
  src:
    url('fonts/iconfont.ttf?p2843') format('truetype'),
    url('fonts/iconfont.woff?p2843') format('woff'),
    url('fonts/iconfont.svg?p2843#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-storycopter:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e902";
}
