html,
body,
#root {
  width: 100%;
  height: 100%;
}

* {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

img {
  line-height: 0;
}

